/*
 * Responsive columns styles ( adapted from https://stackoverflow.com/a/34279177 )
 */

#cardColumns {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}

@media (max-width: 992px) {
  #cardColumns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

@media (max-width: 768px) {
  #cardColumns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

@media (max-width: 576px) {
  #cardColumns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

/*
 * CSS tranisition classes
 */
.imageCard-enter {
  opacity: 0;
}
.imageCard-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.imageCard-exit {
  opacity: 1;
}
.imageCard-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
